<div class="container">
  <h1 class="title">Welcome to BEMification</h1>
  <div class="flex-container">
    <ace-editor class="ace" [(text)]="sourceCode" #sourceCodeEditor></ace-editor>
    <ace-editor class="ace" [(text)]="resultCode" #resultCodeEditor></ace-editor>
  </div>
  <button (click)="translate(sourceCode)">Start</button>
  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at consequuntur culpa cum fuga iste libero modi necessitatibus odio praesentium, quam repellendus tenetur. Esse id mollitia omnis perferendis perspiciatis praesentium quae quod repellat sit tempora? Alias amet aspernatur atque excepturi hic perspiciatis quia sunt unde ut! Earum enim nisi nobis quasi quod reiciendis sed sunt. Accusantium aliquid at aut autem debitis doloremque earum ex facilis id impedit in iure laudantium maiores minima molestiae molestias natus nemo neque officia officiis omnis optio praesentium provident quae quam quo repellat reprehenderit, sed sequi sint suscipit totam unde, ut vero vitae voluptate voluptatem? Natus.</p>
</div>
